@media screen and (min-width: 320px) {
    #home{
        padding-top: 20%;
    }
    .trailer{
        width: 270px !important;
        height: 270px !important;
    }
    #logo{
        width: 300px;
    }
    .feat-img{
        width: 120px;
    }
    #profile img{
        width: 70%;
        padding: 0;
    }
}
@media screen and (min-width: 375px) {
    #home{
        padding-top: 17.5%;
    }
    #logo{
        width: 360px;
    }
    .play-btn {
        width: 90px;
        height: 90px;
    }
    .play-btn-img{
        width: 100% !important;
        height: 100% !important;
    }
    .feat-img{
        width: 60px;
    }
    #profile img{
        width: 80%;
        padding: 0;
    }
}
@media screen and (min-width: 425px){
    #home{
        padding-top: 16%;
    }
    .trailer{
            width: 330px !important;
            height: 330px !important;
    }
    #logo{
        width: 400px;
    }
    .play-btn-img{
        width: 90px !important;
        height: 90px !important;
    }
    .feat-img{
        width: 80px;
    }
    #profile img{
        width: 90%;
        padding: 0;
    }
}
@media screen and (min-width: 768px) {
    #home{
        padding-top: 8.5%;
    }
    .trailer{
        width: 670px !important;
        height: 670px !important;
    }
    #logo{
        width: 700px;
    }
    .play-btn {
        width: 110px;
        height: 110px;
    }
    .play-btn-img{
        width: 100% !important;
        height: 100% !important;
    }
    .feat-img{
        width: 200px;
    }
    #profile img{
        width: 90%;
        padding: 0;
        margin: 0;
    }
    
}
@media screen and (min-width: 1024px){
    #home{
        padding-top: 7%;
    }
    .trailer{
        width: 450px !important;
        height: 450px !important;
    }
    #logo{
        width: 800px;
    }
    .play-btn {
        width: 100px;
        height: 100px;
    }
    .play-btn-img{
        width: 100% !important;
        height: 100% !important;
    }
    .feat-img{
        width: 300px;
    }
    #profile img{
        width: 100%;
        padding: 0;
    }
}
@media screen and (min-width: 1440px) {
    #home{
        padding-top: 5%;
    }
    .trailer{
        width: 500px !important;
        height: 500px !important;
    }
    #logo{
        width: 1200px;
    }.play-btn {
        width: 140px;
        height: 140px;
    }
    .play-btn-img{
        width: 100% !important;
        height: 100% !important;
    }
    .feat-img{
        width: 500px;
    }
}
